{% load static %}
<!doctype html>
<html lang="es">
  <head>

    <title>Medical Services App.</title>
    <meta charset="utf-8">
    <meta name="viewport" 
        content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Loading Bootstrap CSS -->
    <link 
      rel="stylesheet" 
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" 
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" 
      crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Poiret+One" 
        rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="../static/css/med_style.css">
    
    
  </head>

  <body>
    <!-- Navigation Bar -->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top">
      <a class="navbar-brand" href="#">Medical Services App.</a>

      <!-- Navigation Bar Hamburger-->
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navigation"
        aria-expanded="false"
        aria-controls="navigation" 
        aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <!-- End Navigation Bar Hamburger -->
      
      <!-- Navigation Links -->
     <div class="collapse navbar-collapse" id="navigation">
         <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a
                class="nav-link scroll-trigger" 
                href="hemograma">Hemograma
                  
              </a>
            </li>
            <li class="nav-item">
              <a 
                class="nav-link scroll-trigger" 
                href="coagulacion">
                  Coagulacion
              </a>
            </li>
            <li class="nav-item">
              <a 
                class="nav-link scroll-trigger" 
                href="glicemia">
                  Glisemia
              </a>
            </li>
            <li class="nav-item">
                <a 
                  class="nav-link scroll-trigger" 
                  href="orina">
                    Orina
                </a>
              </li>
              <li class="nav-item">
                <a 
                  class="nav-link scroll-trigger" 
                  href="perfilLipidico">
                  Perfil Lipidico
                </a>
              </li>

                
         </ul>
         
         <!--LOGIN-->
          <!--FIN LOGIN-->
      </div>
      <!-- Navigation Links -->
    </nav>
    <!-- End Navigation Bar -->

    <!-- Section: COMPROMISO -->
    <div class="container-fluid bg-principal" id="compromiso">
      <div class="row">
        <div class="col-sm-12">
          <div class="jumbotron jumbotron-main">
            <h2>Medical Services App.</h2>
            <div class="col-sm-6">
                <p style="font-size: xx-large; padding: 9%;">Bienvenid@: {{nombre_us}} !</p>
                <p style="font-size: xx-large; padding: 1%;"> A la plataforma de solicitud de examen
                    <h3>.-Hemograma</h3>
                    <h3>.-Coagulacion</h3>
                    <h3>.-Glisemia</h3>
                    <h3>.-Orina</h3>
                    <h3>.-Perfil Lipidico</h3>                  
                
                </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End Section: COMPROMISO -->
    
    
    
      <!-- END MODAL FORMS -->
    
    <!-- End Section: NOTICIAS -->

    <!-- Section: PROVEEDORES -->
  
    <div class="container-fluid bg-light" id="proveedores">
      <div class="row">
          <h3>Proveedores de Salud</h3>
      </div>
      <div class="row">
        <!--Centros de Salud-->
        <div class="col-md-6">
          <div class="media">
            <img class="img-fluid" src="{% static 'img/icono_gota.png' %}" alt="Generic placeholder image" width="15%">
            <div class="media-body">
              <h5 class="mt-0">Clínicas y Hospitales</h5>
              <ul>
                <li>Red de Salud UC CHRISTUS<a href="https://www.ucchristus.cl/">Visitar</a></li>
                <li>Clínica Santa María<a href="https://www.clinicasantamaria.cl/">Visitar</a></li>
                <li>Clínica Alemana<a href="https://www.clinicaalemana.cl/">Visitar</a></li>
                <li>Hospital Barros Luco-Trudeau<a href="http://www.hospitalbarrosluco.cl/">Visitar</a></li>
                <li> Hospital Clínico Universidad de Chile<a href="https://www.redclinica.cl/">Visitar</a></li>
                <li>Dr. Felix Bulnes <a href="https://felixbulnes.cl/">Visitar</a></li>
              </ul>
            </div>
          </div>
        </div>
        <!--ISAPRE FONASA-->
        <div class="col-md-6">
          <div class="media">
            <img class="img-fluid" src="{% static 'img/icono_medicina2.png' %}" alt="Generic placeholder image" width="15%">
            <div class="media-body">
              <h5 class="mt-0">Isapre y Fonasa</h5>
              <ul>
                <li>Fonasa<a href="https://www.fonasa.cl/sites/fonasa/inicio">Visitar</a></li>
                <li>Isapre CruzBlanca<a href="https://www.cruzblanca.cl/">Visitar</a></li>
                <li>Colmena<a href="http://www.colmena.cl/">Visitar</a></li>
                <li>Consalud<a href="https://www.consalud.cl/">Visitar</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="media">
            <img class="img-fluid" src="{% static 'img/icono_sos2.png' %}" alt="Generic placeholder image" width="15%">
            <div class="media-body">
              <h5 class="mt-0">Servicio ambulancia SOS</h5>
              <ul>
                <li>Rescare <a href="https://rescare.cl/">Visitar</a></li>
                <li>Help <a href="https://www.rescate-help.cl/">Visitar</a></li>
                <li>ACR<a href="http://www.ambulanciascodigorojo.cl/">Visitar</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="media">
            <img class="img-fluid" src="{% static 'img/icono_network2.png' %}" alt="Generic placeholder image" width="15%">
            <div class="media-body">
              <h5 class="mt-0">Médicos inscritos</h5>
              <ul>
                <li>Dr Héctor Vera Salas <a href="https://www.topdoctors.cl/santiago-comuna/">Visitar</a></li>
                <li>Dr Aquiles Jara <a href="https://www.topdoctors.cl/santiago-comuna/">Visitar</a></li>
                <li>Víctor Hugo Donoso Olivares<a href="https://www.topdoctors.cl/santiago-comuna/">Visitar</a></li>
                </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    
      
    <!-- End Section: PROVEEDORES -->
  </div>
    <footer class="footer bg-dark text-center">
      <p class="text-muted">Lepin&Reyes; 2020 .</p>
      <p class="text-muted">Grupo 5 - Full Stack Python</p>
    </footer>

    <!-- jQuery, Popper.js, Bootstrap JS -->
    <script 
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js" 
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" 
      crossorigin="anonymous">
    </script>
    <script 
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" 
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" 
      crossorigin="anonymous">
    </script>
    <script 
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
      integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" 
      crossorigin="anonymous">
    </script>
  </body>
</html>