{% load static %}
<!doctype html>
<html lang="es">
  <head>

    <title>Medical Services App.</title>
    <meta charset="utf-8">
    <meta name="viewport" 
        content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Loading Bootstrap CSS -->
    <link 
      rel="stylesheet" 
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" 
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" 
      crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Poiret+One" 
        rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="../static/app_med2/css/med_style.css">
    
</head>

 
<body>
        <nav class="navbar navbar-expand-lg navbar-dark fixed-top">
            <a class="navbar-brand" href="#">Medical Services App.</a>
          <form class="form-inline">
            <div class="col-sm-12 col-md-6">

              <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                  <a
                    class="nav-link scroll-trigger" 
                    href="base">inicio
                    
                  </a>
               </li>
              </ul>
            </div> 
          </form>
        </nav>

          <div class="col-sm-6">
           <p style="font-size: xx-large; padding: 9%;">Bienvenid@ {{nombre_us}} !</p>
          </div>
       
    <h1> Usuario </h1>
    <table id="customers" >
        <tr >
            <th>Rut</th>
            <th>Nombre</th>
            <th>Edad</th>
            <th>Dirección</th>
            <th>Staff</th>
            <th>Usuario</th>
            <th>Password</th>
        </tr>
        {% for sen in nombres %}
        <tr>
            <td>{{ sen.rutUsuario | title }}</td>
            <td>{{ sen.nombre | title }}</td>
            <td>{{ sen.edad | title }}</td>
            <td>{{ sen.direccion | title }}</td>
            <td>{{ sen.staff | title }}</td>
            <td>{{ sen.usuario | title}}</td>
            <td>{{ sen.password | title}}</td>
    
    
        </tr>
        {% endfor %}
    </table>
    
    <h1>Diagnostico</h1>
    <table id="customers">
        <tr>
            <th>Fecha Diagnostico</th>
            <th>Rut Usario</th>
            <th>Diagnostico</th>
            <th>Fecha Diagnostico</th>
            
        </tr>
        
        {% for i in diagnostico %}
        <tr>
            <td>{{ i.fecha_diagnostico | title }}</td>
            <td>{{ rutUsuario | title}}</td>
            <td>{{ i.diagnostico | title}}</td>
            
    
        </tr>
          
        {% endfor %}
    </table>-->

  
</body>
</html>

