{% load static %}
<!doctype html>
<html lang="es">
  <head>

    <title>Medical Services App.</title>
    <meta charset="utf-8">
    <meta name="viewport" 
        content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Loading Bootstrap CSS -->
    <link 
      rel="stylesheet" 
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" 
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" 
      crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Poiret+One" 
        rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="../static/app_med2/css/med_style.css">
    
  </head>

<body>
    

    <nav class="navbar navbar-expand-lg navbar-dark fixed-top">
        <a class="navbar-brand" href="#">Medical Services App.</a>
        <form class="form-inline">
          <div class="col-sm-12 col-md-6">

            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a
                      class="nav-link scroll-trigger" 
                      href="base">inicio
                        
                    </a>
                </li>
              </ul>
          </div> 
          
        </form>
        
    
    
    
    </nav>

        <div class="col-sm-6">
            <p style="font-size: xx-large; padding: 9%;">Bienvenid@ {{nombre_us}} !</p>
          </div>
        </div>
      </div> 
    </div>
    <!-------------- FIN DATOS DEL USUARIO -------------->

    <!-------------- USUARIO Y DIAGNOSTICOS -------------->
    


    <div class="card col-sm-12">
      <!-- Título sección listado de pacientes -->
     
      
      <!-- Tabla con el listado de pacientes -->
      <div class="row">
        <div class="col-sm-12">
          
            <div class="card col-sm-12">
                <!-- Título sección creación nuevos pacientes -->
                <div class="row">
                  <div class="col-sm-12">
                    <h3>Crear nuevo registro de Paciente</h3>
                  </div>
                </div>
                  <!-- FORM CREAR PACIENTE-->
                
                <div class="row">
                  <!--Usuario-->
                  <div class="col-sm-6">
                    <form id="formLip" method="post">
                        {% csrf_token %}
                        <table>
                            {{usuario}}
                        </table>
                        <div class="d-flex justify-content-center">
                        <input type="reset" value="cancelar" class="btn btn-secondary">  
                        &nbsp;
                        <button type="submit" id="btnEnviar" class="btn btn-primary">Enviar</button>
                          </div>
                          
                      </form>
                  </div>

                  <!--Diagnostico-->
                  <div class="col-sm-6">
                    <form id="formLip" method="post">
                        {% csrf_token %}
                        <table>
                            {{diagnostico}}
                        </table>
                        <div class="d-flex justify-content-center">
                        <input type="reset" value="cancelar" class="btn btn-secondary">  
                        &nbsp;
                        <button type="submit" id="btnEnviar" class="btn btn-primary">Enviar</button>
                          </div>
                          
                      </form>
                  </div>
        
                </div>

                <div class="row">
                  <div class="col-sm-4">
                    <form id="formLip" method="post">
                        {% csrf_token %}
                        <table>
                            {{bioquimico}}
                        </table>
                        <div class="d-flex justify-content-center">
                          <input type="reset" value="cancelar" class="btn btn-secondary">  
                          &nbsp;
                          <button type="submit" id="btnEnviar" class="btn btn-primary">Enviar</button>
                        </div>
                        
                    </form>
                </div>
                  


                    <div class="col-sm-4">
                        <form id="formLip" method="post">
                            {% csrf_token %}
                            <table>
                                {{plipidico}}
                            </table>
                            <div class="d-flex justify-content-center">
						        <input type="reset" value="cancelar" class="btn btn-secondary">  
						        &nbsp;
						        <button type="submit" id="btnEnviar" class="btn btn-primary">Enviar</button>
                            </div>
                            
                        </form>
                    </div>
                    

                    <div class="col-sm-4">
                        <form id="formOrin" method="post">
                            {% csrf_token %}
                            <table>
                                {{orina}}
                            </table>
                            <div class="d-flex justify-content-center">
						        <input type="reset" value="cancelar" class="btn btn-secondary">  
						        &nbsp;
						        <button type="submit" id="btnEnviar" class="btn btn-primary">Enviar</button>
					        </div>					
                        </form>
                    </div>
                </div>  
        </div>
      </div>
    </div>
    <!-------------- FIN LISTADO DE PACIENTES -------------->

    <!-------------- CREACIÓN DE NUEVOS PACIENTES  -------------->
    
            
    </table>
  <script 
    src="https://code.jquery.com/jquery-3.5.1.slim.min.js" 
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" 
    crossorigin="anonymous">
  </script>
  <script 
    src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" 
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" 
    crossorigin="anonymous">
  </script>
  <script 
    src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" 
    crossorigin="anonymous">
  </script>
</body>
</html>