<body>
    <h1> Sensores </h1>
    <table id="customers" >
        <tr >
            <th>temperatura</th>
            <th>humedad</th>
            <th>luz</th>
            <th>color</th>
            <th>posicion</th>
            <th>magnetico</th>
            <th>velocidad</th>
        </tr>
        {% for sen in sensores1 %}
        <tr>
            <td>{{ sen.temperatura | title }}</td>
            <td>{{ sen.humedad | title }}</td>
            <td>{{ sen.luz | title }}</td>
            <td>{{ sen.color | title }}</td>
            <td>{{ sen.posicion | title }}</td>
            <td>{{ sen.magnetico | title}}</td>
            <td>{{ sen.velocidad | title}}</td>
    
    
        </tr>
        {% endfor %}
    </table>
    <h1>Apertura de puerta</h1>
    <table id="customers">
        <tr>
            <th>proximidad</th>
            <th>opticos</th>
            <th>contacto</th>
        </tr>
        
        {% for i in apertura1 %}
        <tr>
            <td>{{ i.proximidad | title }}</td>
            <td>{{ i.opticos | title}}</td>
            <td>{{ i.contacto | title}}</td>
    
        </tr>
          
        {% endfor %}
    </table>
    <h1>Nivel de gasolina</h1>
    <table id="customers">
        <tr>
            <th>Ultrasónicos</th>
            <th>Capacitivo</th>
            <th>Flotador</th>
        </tr>
        
        {% for i in Nivel %}
        <tr>
            <td>{{ i.Ultrasónicos | title }}</td>
            <td>{{ i.Capacitivo | title}}</td>
            <td>{{ i.Flotador | title}}</td>
    
        </tr>
          
        {% endfor %}
    </table>
    <h1>Nombre Sensor</h1>
    <table id="customers">
        <tr>
            <th>nombre</th>
            <th>fecha</th>
            
        </tr>
        
        {% for i in codigo %}
        <tr>
            <td>{{ i.nombre | title }}</td>
            <td>{{ i.fecha | title }}</td>
           
    
        </tr>
          
        {% endfor %}
    </table>

    <div class="col-sm-4">
        <form id="formLip" method="post">
          <h4>Examen de Diagnostico</h4>
            {% csrf_token %}
            <table>
                {{diagnostico}}
            </table>
            <br>
            <br>
            <div class="d-flex justify-content-center">
             <input type="reset" value="cancelar" class="btn btn-secondary">  
             &nbsp;
             <button type="submit" id="btnEnviar" class="btn btn-primary">Enviar</button>
            </div>
            
        </form>
          </div>
          <div class="row">
            <div class="col-sm-12">
              
                <div class="card col-sm-12">
                    <!-- Título sección creación nuevos pacientes -->
                      <!-- FORM CREAR PACIENTE-->
                      
               <!--   <br>
                    <div class="col-sm-4">
                          <form id="formLip" method="post">
                            <h4>Examen de Coagulacion</h4>
                              {% csrf_token %}
                              <table>
                                {{coagulacion}}
                              </table>
                              <br>
                              <br>
                              <div class="d-flex justify-content-center">
                      <input type="reset" value="cancelar" class="btn btn-secondary">  
                      &nbsp;
                      <button type="submit" id="btnEnviar" class="btn btn-primary">Enviar</button>
                              </div>
                              
                          </form>
                    </div>      
                      
                    <div class="col-sm-4">
                      <form id="formLip" method="post">
                        <h4>Examen de Glicemia</h4>
                          {% csrf_token %}
                          <table>
                            {{glicemia}}
                          </table>
                          <br>
                          <br>
                          <div class="d-flex justify-content-center">
                           <input type="reset" value="cancelar" class="btn btn-secondary">  
                           &nbsp;
                           <button type="submit" id="btnEnviar" class="btn btn-primary">Enviar</button>
                          </div>
                          
                      </form>
                        </div>
       
                      <div class="row">
                          <div class="col-sm-12"> -->
                          <!-- 
                              <div class="card col-sm-12">-->
                                  <!-- Título sección creación nuevos pacientes -->
                                  
                                    <!-- FORM CREAR PACIENTE-->
                               <!--     
                                  <br>
                                  <div class="col-sm-4">
                                        <form id="formLip" method="post">
                                          <h4>Examen de Bioquimico</h4>
                                            {% csrf_token %}
                                            <table>
                                              {{bioquimico}}
                                            </table>
                                            <br>
                                            <br>
                                            <div class="d-flex justify-content-center">
                                    <input type="reset" value="cancelar" class="btn btn-secondary">  
                                    &nbsp;
                                    <button type="submit" id="btnEnviar" class="btn btn-primary">Enviar</button>
                                            </div>
                                            
                                        </form>
                                  </div>      
                                    
                                  <div class="col-sm-4">
                                    <form id="formLip" method="post">
                                      <h4>Examen de Plipidico</h4>
                                        {% csrf_token %}
                                        <table>
                                          {{plipidico}}
                                        </table>
                                        <br>
                                        <br>
                                        <div class="d-flex justify-content-center">
                                         <input type="reset" value="cancelar" class="btn btn-secondary">  
                                         &nbsp;
                                         <button type="submit" id="btnEnviar" class="btn btn-primary">Enviar</button>
                                        </div>
                                        
                                    </form>
                                      </div>   
                                      <div class="col-sm-4">
                                        <form id="formLip" method="post">
                                          <h4>Examen de Orina</h4>
                                            {% csrf_token %}
                                            <table>
                                              {{orina}}
                                            </table>
                                            <br>
                                            <br>
                                            <div class="d-flex justify-content-center">
                                    <input type="reset" value="cancelar" class="btn btn-secondary">  
                                    &nbsp;
                                    <button type="submit" id="btnEnviar" class="btn btn-primary">Enviar</button>
                                            </div>
                                            
                                        </form>
                                  </div>
                                  <div class="col-sm-4">
                                    <form id="formLip" method="post">
                                      <h4>Examen de Hemograma</h4>
                                        {% csrf_token %}
                                        <table>
                                          {{hemograma}}
                                        </table>
                                        <br>
                                        <br>
                                        <div class="d-flex justify-content-center">
                                <input type="reset" value="cancelar" class="btn btn-secondary">  
                                &nbsp;
                                <button type="submit" id="btnEnviar" class="btn btn-primary">Enviar</button>
                                        </div>
                                        
                                    </form>
                              </div>--> 