<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Examen Coagulación</title>
</head>
<body>
    <form action="{% url 'app_med2:eliminar_coagulacion' pk=coagulacion.id_coagulacion %}" method="POST"> 
        {% csrf_token %} 
        Está seguro de eliminar Coagulacion con id = {{coagulacion.id_coagulacion}}? 
        <input type="submit" value="Sí" /> 
        <a href="{% url 'app_med2:listar_coagulacion' %}">Cancelar</a> 
    </form> 
</body>
</html>