<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="{% url 'app_med2:eliminar_guitarra_cbv' pk=crearusuariocbv.id %}" method="POST"> 
        {% csrf_token %} 
        Está seguro de eliminar el usuario con id = {{id}}? 
        <input type="submit" value="Sí" /> 
        <a href="{% url 'app_med2:lista_usuarios_cbv' %}">Cancelar</a> 
    </form> 
</body>
</html>