<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="{% url 'app_med2:eliminar_diagnosticos' pk=diagnostico.fecha_diagnostico %}" method="POST"> 
        {% csrf_token %} 
        Está seguro de eliminar el diagnostico con id = {{diagnostico.fecha_diagnostico}}? 
        <input type="submit" value="Sí" /> 
        <a href="{% url 'app_med2:listar_diagnosticos' %}">Cancelar</a> 
    </form> 
</body>
</html>