<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <div>
    <h1> Crear Usuario </h1>
    <form action="" method="post" novalidate>
        {% csrf_token %}
        <table border="1">
            {{form.as_table}}
        </table>
        <input type="submit" value="Guardar">
        <a href="{% url 'app_med2:listar_diagnosticos' %}"><button type="button">Cancelar</button></a>
    </form>
    </div>


</body>
</html>