<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="{% url 'app_med2:eliminar_hemograma' pk=hemograma.id_hemograma %}" method="POST"> 
        {% csrf_token %} 
        Está seguro de eliminar el hemograma con id = {{hemograma.id_hemograma}}? 
        <input type="submit" value="Sí" /> 
        <a href="{% url 'app_med2:listar_hemograma' %}">Cancelar</a> 
    </form> 
</body>
</html>