{% load static %}
<!doctype html>
<html lang="es">
  <head>

    <title>Medical Services App.</title>
    <meta charset="utf-8">
    <meta name="viewport" 
        content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Loading Bootstrap CSS -->
    <link 
      rel="stylesheet" 
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" 
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" 
      crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Poiret+One" 
        rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="../static/css/med_style.css">
    
    
  </head>

  <body>
    <!-- Navigation Bar -->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top">
      <a class="navbar-brand" href="#">Medical Services App.</a>

      <!-- Navigation Bar Hamburger-->
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navigation"
        aria-expanded="false"
        aria-controls="navigation" 
        aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <!-- End Navigation Bar Hamburger -->

      <!-- Navigation Links -->
      <div class="collapse navbar-collapse" id="navigation">
         <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a
                class="nav-link scroll-trigger" 
                href="#compromiso">
                  Nuestro compromiso
              </a>
            </li>
            <li class="nav-item">
              <a 
                class="nav-link scroll-trigger" 
                href="#noticias">
                  Noticias
              </a>
            </li>
            <li class="nav-item">
              <a 
                class="nav-link scroll-trigger" 
                href="#proveedores">
                  Proveedores
              </a>
            </li>

              
         </ul>
         <!--TEMPORALMENTE LINK A VISTAS, LUEGO LOGIN-->
         <form class="form-inline">
            <div class="col-sm-12 col-md-6">
                <button type="submit" class="btn btn-dark btn-sm" style="padding: 1px;"><a class="nav-link userlink" href="/nuevosRegistros">Admin</a></button>
            </div>
            <div class="col-sm-12 col-md-6">
                <button type="button" class="btn btn-dark btn-sm" style="padding: 1px;"><a class="nav-link userlink" href="/paciente">Pacientes</a></button>
            </div>
          </form>
          <!--FIN LOGIN-->
      </div>
      <!-- Navigation Links -->
    </nav>
    <!-- End Navigation Bar -->

    <!-- Section: COMPROMISO -->
    <div class="container-fluid bg-principal" id="compromiso">
      <div class="row">
        <div class="col-sm-12">
          <div class="jumbotron jumbotron-main">
            <h2>Medical Services App.</h2>
            <h3>Nuestro compromiso es dar un servicio oportuno y eficiente a todos los pacientes que son parte de nuestra red.
               Siendo este nuestro objetivo, día a día trabajamos en la mejora continua y promovemos iniciativas que mejoren
               el bienestar de pacientes y del personal médico.  </h3>
          </div>
        </div>
      </div>
    </div>
    <!-- End Section: COMPROMISO -->
    
    <!-- Section: NOTICIAS -->
    <div id = "noticias">
      <div class="container-fluid bg-dark" id="noticias">
        <div class="row">
          <h3>Noticias</h3>
        </div>
        <div class="row">
          <div class="col-md-6 col-lg-3">
            <div class="card">
              <h3 class="card-header">
                <img class="img-fluid" src="{% static 'img/icono_gota.png' %}" width="15%">Vida Saludable</h3>
              <div class="card-body">
                <h4 class="card-title">Pilates para 'runners': técnica y beneficios</h4>
                <p class="card-text">Es un entenamiento complementario que mejora el rendimiento, trabaja la flexibilidad y evita lesiones.</p>
                <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#modalN1">+</button>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3">
            <div class="card">
              
              <h3 class="card-header">
                <img class="img-fluid" src="{% static '../static/img/icono_virus.png' %}" width="15%">COVID-19</h3>
              <div class="card-body">
                <h4 class="card-title">Preparación para la futura vacuna de COVID-19</h4>
                <p class="card-text">UNICEF tendrá almacenadas más de 500 millones de jeringas para finales de año. </p>
                <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#modalN2">+</button>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3">
            <div class="card">
              <h3 class="card-header">
                <img class="img-fluid" src="{% static '../static/img/icono_corazon.png' %}" width="15%">Cuidando tu familia</h3>
              <div class="card-body">
                <h4 class="card-title">Trastorno por déficit de atención</h4>
                <p class="card-text">¿Realidad o ficción?Muchos padres se encuentran ante un posible diagnóstico de TDAH con los miedos y dudas que ello implica</p>
                <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#modalN3">+</button>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3">
            <div class="card">
              <h3 class="card-header">
              <img class="img-fluid" src="{% static '../static/img/icono_paciente_medico.png' %}" width="15%">Paciente+Médico</h3>
              <div class="card-body">
                <h4 class="card-title">Cómo mejorar la relación médico-paciente</h4>
                <p class="card-text">Investigadores han estudiando durante más de 2 años cómo solucionar este distanciamiento.</p>
                <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#modalN4">+</button>
              </div>
            </div>
          </div>
        </div>
        
        </div>
    
    
        <!-- MODAL FORMS -->
        <!--MODAL 1-->
        <div class="modal" id="modalN1" role="dialog">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                  aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                
              </div>
                <div class="modal-body">
                  <H2 class="modal-title" id="profile-modal-label">Pilates para 'runners': técnica y beneficios</H2>
                  <p>El pilates puede ser un entenamiento complementario para corredores amateurs y profesionales que desean mejorar el rendimiento, trabajar la flexibilidad y evitar lesiones.</p>
                  <p>Cada vez son más las personas con problemas musculares causados por el running, un deporte que practica gente de todas las edades y que sobrecarga el tren inferior y las rodillas. Conscientes de esta realidad, Agustín Oliver y Víctor Ruiz crearon Pilates Run Fit en L'Anatomie con el objetivo de evitar lesiones y mejorar el rendimiento en la carrera, fortaleciendo la muscultatura empleada en cada ejercicio.</p>
                  <p>Esta disciplina se basa en la biomecánica del cuerpo, detecta los fallos musculares y crea ejercicios para mejorar las deficiencias en el movimiento. La técnica fortalece aquellas zonas de mayor debilidad para evitar que se produzcan roturas por tensión acumulada. </p>
                  <p>e realiza mezclando máquinas de pilates, trabajo muscular basado en cadenas musculares con entrenamiento en suspensión y ejercicios con circuitos funcionales con elementos inestables para trabajar el equilibrio, logrando así grandes beneficios en la habilidad de la carrera de cada persona. El programa está enfocado tanto a runners amateurs como profesionales, pues las clases son personalizadas y se tiene en cuenta la biomecánica del cuerpo y la técnica usada para cada tipo de carrera.</p>
                  <p>Según explican Agustín Oliver y Víctor Ruiz, impulsores del Pilates Run Fit, es importante conocer y trabajar cada parte del cuerpo que interviene en el movimiento cuando corremos. “Los corredores se suelen centrar mucho en trabajar el tren inferior, pero es importante ver la forma en la que trabajan otras zonas cuando las piernas soportan el peso de la carrera, como pueden ser la cadera, los brazos o la columna,” recalcan. </p>
                  <p>En cuanto a la frecuencia adecuada para practicar esta actividad, los expertos consideran adecuado hacer un test de valoración inicial para diseñar un plan de entrenamiento que se aplique una vez por semana. Además, aconsejan acompañarlo con sesiones de stretching y fisioterapia.</p>
                </div>
                <div class="modal-footer">
                  Vida Saludable
                </div>
            </div>
          </div>
        </div>
        <!--MODAL 2-->
        <div class="modal" id="modalN2" role="dialog">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" 
                  aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                
              </div>
              <div class="modal-body">
                <H2 class="modal-title" id="settings-modal-label">Preparación para la futura vacuna de COVID-19</H2>
                <p>El Fondo de la ONU para la Infancia (UNICEF) explicó este lunes que una vez terminadas las fases de ensayos clínicos y cuando las vacunas ya estén autorizadas y recomendadas para su uso se necesitará el mismo número de jeringas que de dosis de inmunización.</p>
                <p>Con el fin de garantizar el suministro inicial y asegurar que las jeringuillas lleguen a los países antes que las vacunas de la COVID-19, UNICEF almacenará durante este año 520 millones de jeringas. La siguiente fase del plan, suponiendo que se disponga de suficientes dosis para la inmunización, consistirá en aumentar el acopio hasta los 1000 millones de inyecciones para el año 2021.</p>
                <p>A esta cifra habrá que añadirle otros 620 millones de jeringas que UNICEF comprará para diferentes programas de vacunación contra el sarampión, la fiebre tifoidea u otras enfermedades.</p>
                <p>"Vacunar a todo el mundo contra la COVID-19 será una de las mayores tareas a gran escala en la historia de la humanidad, y tendremos que actuar con la misma rapidez con que se puedan producir las vacunas ", afirmó la directora ejecutiva de UNICEF.</p>
                <p>Aparte de las jeringas, UNICEF también está comprando 5 millones de cajas de seguridad que el personal de los centros de salud usará para eliminar de forma segura las jeringuillas y las agujas usadas y así evitar el riesgo de accidentes.
    
                  Cada uno de estos contenedores puede almacenar 100 inyecciones, por lo que UNICEF pretende “agrupar” las jeringuillas con las cajas de seguridad.</p>
              </div>
              <div class="modal-footer">
                COVID-19
              </div>
            </div>
          </div>
        </div>
        <!--MODAL 3-->
        <div class="modal" id="modalN3" role="dialog">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                  aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                
              </div>
                <div class="modal-body">
                  <H2 class="modal-title" id="profile-modal-label">Trastorno por déficit de atención</H2>
                  <p>¿Realidad o ficción?Muchos padres se encuentran ante un posible diagnóstico de TDAH con los miedos y dudas que ello implica</p>
                  <p>Aquellos profesionales que trabajamos diariamente con familiares de afectados por Trastorno por Déficit de Atención e Hiperactividad (TDAH), recogemos de forma directa las necesidades y dificultades que las familias atraviesan en las diferentes esferas de la vida (colegio, entorno social, convivencia...). Estas necesidades vienen dadas a veces por el propio trastorno, y otras, por las carencias o la influencia del entorno, poniendo de manifiesto la deficiencia de estrategias eficaces para enfrentarse al mundo.</p>
                  <p>El miedo y la preocupación son respuestas normales ante una situación de peligro, riesgo o incertidumbre. En ocasiones incluso en ausencia de una situación de inestabilidad, el miedo aparece como una respuesta del organismo a perder la estabilidad y el bienestar. El miedo es por tanto, una emoción primaria que cada día experimentamos las personas en mayor o menor medida.</p>
                  <p>Las familias de afectados por TDAH, observadoras y parte esencial de todo el proceso, se encuentran inmersas en un mar de dudas y miedos en torno a los problemas actuales y la incertidumbre del futuro de sus hijos y allegados. Hemos querido agrupar algunos de estos pensamientos recogidos de la vivencia real de familias, que día a día luchan por mejorar la situación de sus hijos y poder llegar a otras familias a partir de su experiencia. </p>
                  <p>Verbalizar al entorno y a los profesionales de apoyo, los miedos, las preocupaciones y las dudas, es un paso fundamental para obtener la ayuda necesaria y no tirar la toalla en la carrera para superar el trastorno.</p>
                </div>
                <div class="modal-footer">
                  Cuidando a tu familia
                </div>
            </div>
          </div>
        </div>
        <!--MODAL 4-->
        <div class="modal" id="modalN4" role="dialog">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" 
                  aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <H2 class="modal-title" id="settings-modal-label">Cómo mejorar la relación médico-paciente</H2>
                <p><p>Investigadores de la Universidad de Stanford (Estados Unidos) han estado estudiando durante más de dos años cómo conseguir solucionar la fractura creciente en las relaciones médico-paciente. Consideran que no es bueno para los pacientes ni para los médicos que estos se sientan cada vez más desconectados de las razones por las que decidieron dedicarse a la medicina, según publican en la revista 'JAMA'.
                </p><p>El objetivo de su investigación, que comenzó hace 2 años y medio, fue identificar medidas basadas en evidencia que los médicos pueda adoptar para involucrarse plenamente con los pacientes y comprender sus perspectivas, circunstancias de vida y prioridades. 
                En encuestas recientes, los médicos han reconocido que el clima actual de la medicina, con límites en la cantidad de tiempo que pueden pasar con los pacientes durante las citas, la explosión de conocimiento biomédico y las mayores demandas de actualizar y revisar los registros electrónicos de salud, se traducen en menos tiempo para interacciones significativas con pacientes.</p>
                
                <ul>
                  <li>Prepárese con intención: familiarícese con el paciente que va a conocer y cree un ritual para enfocar su atención antes de una visita.</li>
                  <li>Escuche atenta y completamente: siéntese, inclínese hacia adelante y colóquese para escuchar. No interrumpa a su paciente porque es su fuente de información más valiosa.</li>
                  <li>Reconozca lo que más importa: descubra qué le importa a su paciente e incorpore estas prioridades en la agenda de visitas.</li>
                  <li>Conéctese con la historia del paciente: considere las circunstancias que influyen en la salud de su paciente, reconozca sus esfuerzos y celebre sus éxitos.</li>
                  <li>Explore las señales emocionales: sintonice, note, nombre y valide las emociones de su paciente para convertirse en un socio de confianza.</li>
                </ul>
                </p>
    
              </div>
              <div class="modal-footer">
                Paciente+Médico
              </div>
            </div>
          </div>
        </div>
      
    <div id = 'formulario'>

      {% block formulario %}

      {% endblock %}

       
    </div>
    </div>
    
      <!-- END MODAL FORMS -->
    
    <!-- End Section: NOTICIAS -->

    <!-- Section: PROVEEDORES -->
  
    <div class="container-fluid bg-light" id="proveedores">
      <div class="row">
          <h3>Proveedores de Salud</h3>
      </div>
      <div class="row">
        <!--Centros de Salud-->
        <div class="col-md-6">
          <div class="media">
            <img class="img-fluid" src="{% static 'img/icono_gota.png' %}" alt="Generic placeholder image" width="15%">
            <div class="media-body">
              <h5 class="mt-0">Clínicas y Hospitales</h5>
              <ul>
                <li>Red de Salud UC CHRISTUS<a href="https://www.ucchristus.cl/">Visitar</a></li>
                <li>Clínica Santa María<a href="https://www.clinicasantamaria.cl/">Visitar</a></li>
                <li>Clínica Alemana<a href="https://www.clinicaalemana.cl/">Visitar</a></li>
                <li>Hospital Barros Luco-Trudeau<a href="http://www.hospitalbarrosluco.cl/">Visitar</a></li>
                <li> Hospital Clínico Universidad de Chile<a href="https://www.redclinica.cl/">Visitar</a></li>
                <li>Dr. Felix Bulnes <a href="https://felixbulnes.cl/">Visitar</a></li>
              </ul>
            </div>
          </div>
        </div>
        <!--ISAPRE FONASA-->
        <div class="col-md-6">
          <div class="media">
            <img class="img-fluid" src="{% static 'img/icono_medicina2.png' %}" alt="Generic placeholder image" width="15%">
            <div class="media-body">
              <h5 class="mt-0">Isapre y Fonasa</h5>
              <ul>
                <li>Fonasa<a href="https://www.fonasa.cl/sites/fonasa/inicio">Visitar</a></li>
                <li>Isapre CruzBlanca<a href="https://www.cruzblanca.cl/">Visitar</a></li>
                <li>Colmena<a href="http://www.colmena.cl/">Visitar</a></li>
                <li>Consalud<a href="https://www.consalud.cl/">Visitar</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="media">
            <img class="img-fluid" src="{% static 'img/icono_sos2.png' %}" alt="Generic placeholder image" width="15%">
            <div class="media-body">
              <h5 class="mt-0">Servicio ambulancia SOS</h5>
              <ul>
                <li>Rescare <a href="https://rescare.cl/">Visitar</a></li>
                <li>Help <a href="https://www.rescate-help.cl/">Visitar</a></li>
                <li>ACR<a href="http://www.ambulanciascodigorojo.cl/">Visitar</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="media">
            <img class="img-fluid" src="{% static 'img/icono_network2.png' %}" alt="Generic placeholder image" width="15%">
            <div class="media-body">
              <h5 class="mt-0">Médicos inscritos</h5>
              <ul>
                <li>Dr Héctor Vera Salas <a href="https://www.topdoctors.cl/santiago-comuna/">Visitar</a></li>
                <li>Dr Aquiles Jara <a href="https://www.topdoctors.cl/santiago-comuna/">Visitar</a></li>
                <li>Víctor Hugo Donoso Olivares<a href="https://www.topdoctors.cl/santiago-comuna/">Visitar</a></li>
                </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    
      
    <!-- End Section: PROVEEDORES -->
  </div>
    <footer class="footer bg-dark text-center">
      <p class="text-muted">Lepin&Reyes; 2020 .</p>
      <p class="text-muted">Grupo 5 - Full Stack Python</p>
    </footer>

    <!-- jQuery, Popper.js, Bootstrap JS -->
    <script 
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js" 
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" 
      crossorigin="anonymous">
    </script>
    <script 
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" 
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" 
      crossorigin="anonymous">
    </script>
    <script 
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
      integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" 
      crossorigin="anonymous">
    </script>
  </body>
</html>
