{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'app_med2/css/med_style.css' %}">
</head>
<body>
    <h2>Listado Actualizado de Nuestros Usuarios</h2>
    <h4><a class= "boton" href="{% url 'app_med2:crear_usuario' %}">Crear otro Usuario</a></h4>
    <table class="table">
        <tr>
            <th>Id</th>
            <th>Rut</th>
            <th>Nombre</th>
            <th>Edad</th>
            <th>Direccion</th>
            <th>Staff</th>
            <th>Usuario</th>
            <th>Password</th>
            <th></th>
            <th></th>
        </tr>    

    {% for usuario in usuario_list %}
        <tr>
            <td>{{usuario.rutUsuario}}</td>
            <td>{{usuario.nombre}}</td>
            <td>{{usuario.edad}}</td>
            <td>{{usuario.direccion}}</td>
            <td>{{usuario.staff}}</td>
            <td>{{usuario.usuario}}</td>
            <td>{{usuario.password}}</td>
            <td>
                <a class="boton" href="{% url 'app_med2:editar_usuario' pk=usuario.rutUsuario %}"> Editar</a>
            </td>
            <td>
                <a class="boton" href="{% url 'app_med2:eliminar_usuario' pk=usuario.rutUsuario %}"> Eliminar</a>
            </td>
        </tr>
    {% endfor %}
    </table>
    
</body>
</html>
