<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="{% url 'app_med2:lista_usuario' pk=usuariocbv.rutUsuario %}" method="POST"> 
        {% csrf_token %} 
        Está seguro de eliminar el usuario con rutUsuario = {{rutUsuario}}? 
        <input type="submit" value="Sí" /> 
        <a href="{% url 'app_med2:lista_usuario' %}">Cancelar</a> 
    </form> 
</body>
</html>