{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'formularios/css/styles.css' %}">
  
</head>
<body>
    <h2>Listado Actualizado de Usuarios</h2>
    <h4><a class= "boton" href="">Crear otro Usuario</a></h4>
    <table class="table">
        <tr>
            <th>Rut Usuario</th>
            <th>Nombre</th>
            <th>Edad</th>
            <th>Direccion</th>
            <th>Staff</th>
            <th>Usuario</th>
            <th>Contraseña</th>
            <th></th>
            <th></th>
        </tr>    

    {% for usuario in usuarios %}
        <tr>
            <td>{{usuario.rutUsuario}}</td>
            <td>{{usuario.nombre}}</td>
            <td>{{usuario.edad}}</td>
            <td>{{usuario.direccion}}</td>
            <td>{{usuario.staff}}</td>
            <td>{{usuario.usuario}}</td>
            <td>{{usuario.password}}</td>
            <td>
                <a class="boton" href=""> Editar</a>
            </td>
            <td>
                <a class="boton" href=""> Eliminar</a>
            </td>
        </tr>
    {% endfor %}
    </table>

    
</body>
</html>